
#pie {
    height: 20%;
    /*background-color:#D3D1C1; fbe3e8*/
    /*background-color: linear-gradient(180deg,#fce6e8 0, var(--m-base-cut),#fff calc(var(--m-base-cut) + var(--m-base-fade)),#fff 100%);*/
    background: #fce6e8;
    clear: both;
}
/*fixed footer*/
.webdoktoru {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #555;
    color: white;
    text-align: center;
    padding:10px;
}

    .webdoktoru a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
    }

        .webdoktoru a:hover {
            text-decoration: none;
            color: gray
        }

.nav-side-menu {
    overflow: auto;
    /*font-family: verdana;*/
    font-size: 14px;
    font-weight: 400;
    background-color: #2e353d;/*#fce6e8;*/
    /*position: fixed;*/
    /*width: 220px;*/
    height: 100%;
    color: #e1ffff;
}

.menu-list {
    top: 250px;
}

.nav-side-menu .brand {
    margin-top: 0%;
    background-color: #fce6e8;
    border-bottom: 0px solid #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    /*border-radius: 25%;
    background: linear-gradient(270deg, rgba(38, 111, 175, 0.1), rgba(255, 255, 255, 018), rgba(38, 111, 175, 0.38));
    background-size: 500% 500%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;*/
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.nav-side-menu .toggle-btn {
    display: none;
}

.tasi {
    padding-top: 0; /*10%;*/
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

    .nav-side-menu ul :not(collapsed) .arrow:before,
    .nav-side-menu li :not(collapsed) .arrow:before {
        font-family: FontAwesome;
        content: "\f078";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
        float: right;
    }

    .nav-side-menu ul .active,
    .nav-side-menu li .active {
        border-left: 3px solid #fce6e8; /*#d19b3d;*/
        background-color: #4f5b69;
        border-right: 3px solid #fce6e8;
    }

    .nav-side-menu ul .sub-menu li.active,
    .nav-side-menu li .sub-menu li.active {
        color: #d19b3d;
    }

        .nav-side-menu ul .sub-menu li.active a,
        .nav-side-menu li .sub-menu li.active a {
            color: #d19b3d;
        }

    .nav-side-menu ul .sub-menu li,
    .nav-side-menu li .sub-menu li {
        background-color: #181c20;
        border: none;
        line-height: 28px;
        border-bottom: 1px solid #23282e;
        margin-left: 0px;
    }

        .nav-side-menu ul .sub-menu li:hover,
        .nav-side-menu li .sub-menu li:hover {
            background-color: #020203;
        }

        .nav-side-menu ul .sub-menu li:before,
        .nav-side-menu li .sub-menu li:before {
            font-family: FontAwesome;
            content: "\f105";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
        }

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #ca5568; /*#d05d73;*/
    border-right: 3px solid #ca5568;
    border-bottom: 2px solid #23282e; /*#e1ffff;*/
}

    .nav-side-menu li a {
        text-decoration: none;
        color: #e1ffff;
    }

        .nav-side-menu li a i {
            padding-left: 10px;
            width: 20px;
            padding-right: 20px;
        }

    .nav-side-menu li:hover {
        border-left: 3px solid #ffffff; /*#d19b3d;*/
        border-right: 3px solid #ffffff;
        background-color: #ca5568;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

        .nav-side-menu .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            background-color: #ffffff;
            color: #000;
            width: 40px;
            text-align: center;
        }

    .brand {
        text-align: center !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }

    .tasi {
        padding-top: 0;
    }
}

.nav-link{
    padding: 0 20px !important;
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
}

#giris {
    height: 100vh;
    background-color: #F1F1F1; /*#33aac7;*/
}

#nasil {
    height: 100vh;
    background-color: #337ab7;
}

#eklentiler {
    height: 100vh;
    background-color: #887aaa;
}

#ornekler {
    height: 100vh;
    background-color: #88ccaa;
}

#ayrintilar {
    height: 100vh;
    background-color: #dd7a23;
}

#digerleri {
    height: 100vh;
    background-color: #887aff;
}

/*============================================================*/
/*.principal--m {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "menu form";
    position:fixed;
    bottom: 68px;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
}

.menu-form {
    grid-area: menu;
    border: 1px solid #e1e3e4;
}

.contenedor-form {
    grid-area: form;
    border: 1px solid #e1e3e4;
    border-left: 0 none;
}*/

.hidden-filtros--m{
    display: none;
}

.product-fieldset {
    border: 1px solid #dee2e6;
    border-radius: 6px;
    padding: 20px;
    margin-top: 0px;
}

.product-legend {
    float: none;
    width: auto;
    padding: 0 10px;
    font-size: 1.3rem;
    font-weight: 600;
    /*color: #0d6efd;*/
}

.is-invalid {
    border-color: #dc3545;
}

.is-valid {
    border-color: #198754;
}

.error-text {
    font-size: 0.85rem;
    color: #dc3545;
}