##############################################
# Build Results
##############################################
bin/
obj/
Debug/
Release/
x64/
x86/
[Bb]uild/
[Bb]uilds/

##############################################
# Visual Studio
##############################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

##############################################
# NuGet
##############################################
packages/
*.nupkg
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

##############################################
# Logs
##############################################
*.log
logs/

##############################################
# IIS / Local Server
##############################################
.localhistory/
*.vspscc
*.vssscc

##############################################
# Publish Web Output
##############################################
*.publish.xml
*.pubxml
*.azurePubxml
PublishProfiles/

##############################################
# Test Results
##############################################
TestResults/
*.trx

##############################################
# OS Files
##############################################
.DS_Store
Thumbs.db

##############################################
# Resharper
##############################################
_ReSharper*/
*.DotSettings.user

##############################################
# Rider
##############################################
.idea/

##############################################
# Backup & Temp
##############################################
*.bak
*.tmp
*.temp